@charset "utf-8";
/* CSS Document */
body {
	background:url(../../img/chirstmas_images/bg.png) #a50606;
	color:#fff;
}
a, a:hover{ color:#fff;}
.nav-gradient {
	background: #840201; /* Old browsers */
	background: -moz-linear-gradient(top, #840201 0%, #620303 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #840201), color-stop(100%, #620303)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #840201 0%, #620303 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #840201 0%, #620303 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #840201 0%, #620303 100%); /* IE10+ */
	background: linear-gradient(to bottom, #840201 0%, #620303 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#840201', endColorstr='#620303', GradientType=0 ); /* IE6-9 */
}
.lucy-form {
	bottom: 0;
    float: right;
    margin-bottom: 0;
    margin-left: 10px;
    position: fixed;
    right: 10px;
    z-index: 9999;
}
   .blue-panal {
   	background: #840201 none repeat scroll 0 0;
   }
.panel-heading {
    background-color: #840201 !important;
    border-color: #ddd;
    color: #333;

}

.panel-title {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}
.font-13{

	color: #000 !important;
}
.h4{

	color: #000;
}


.flt {
	float:left;
}
.frt {
	float:right;
}

.top-heading {
	font-size:26px;
	font-family: 'Laila', serif;
	margin:0px!important;
	padding:0px!important;
	line-height:32px;
}
.heading1 {
	font-size:26px;
	font-family: 'Laila', serif;
	margin:0px 0 40px 0!important;
	padding:20px 0 0 0!important;
	line-height:32px
}
.sub-heading {
	font-size:20px;
	font-family: 'Laila', serif;
	margin:0px!important;
	padding:0!important;
	line-height:38px;
	text-align:center;
	font-weight:bold;
}
.serv-icons {
	text-align:center;
	float:left
}
.margin0 {
	margin:0px!important;
}
.margintop10 {
	margin-top:10px!important;
}
.margintop15 {
	margin-top:15px!important;
}
.margintop20 {
	margin-top:20px!important;
}
.marginbtm20 {
	margin-bottom:20px!important;
}
.marginbtm50 {
	margin-bottom:50px!important;
}
.marginbtm30 {
	margin-bottom:30px!important;
}
.margintop35 {
	margin-top:35px!important;
}
.margin-right5 {
	margin-right:5px!important;
}
.margin10lr {
	margin-left:10px!important;
	margin-right:10px!important;
}
.margin7tb {
	margin-top:7px!important;
	margin-bottom:7px!important;
	margin:0px
}
.marg-left17 {
	margin-left:17px;
}
.padding0 {
	padding:0px!important;
}
.box {
	background-color:#fff;
	color:#111;
	float:left;
	padding:10px;
	border-radius: 5px;
	margin-top:15px;
	min-height:250px;
}
.box1{ width:100%;}
.content {
	width:100%;
	float:left;
	line-height:20px;
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	min-height:250px;
}
ul.ser-plans {
	margin:10px 0 0 0;
	padding:0px;
}
ul.ser-plans li {
	margin:10px 0 0 0;
	padding:5px;
	line-height:20px;
	list-style-type:none;
	width:100%;
	float:left;
}
.discount {
	color:#ffcd04;
	font-size:50px;
	font-weight:bold;
}
.ser-selc {
	color:#111;
	width:100%;
	text-align:left;
	background-color:#f3f3f3;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	position:relative;
}
.close-icon {
	position:absolute;
	right: -8px;
	top: -10px;
}
.sub-btn {
	color:#111;
	border:0px;
	font-size:14px;
	padding:15px 25px;
	font-weight:bold;
	background: #f7e07e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZTA3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2M0NWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f7e07e 0%, #fcc45c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7e07e), color-stop(100%, #fcc45c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7e07e 0%, #fcc45c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7e07e 0%, #fcc45c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7e07e 0%, #fcc45c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f7e07e 0%, #fcc45c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e07e', endColorstr='#fcc45c', GradientType=0 ); /* IE6-8 */
}
.icon1{background: url(../../img/chirstmas_images/icon.png) no-repeat center; width:58px; height:53px; position:absolute; top:-25px;left:140px!important;}
/*ul.ser-sel{margin:0px; padding:0px; float:left;}
ul.ser-sel li{ list-style-type:none; background-color:#f3f3f3; padding:10px!important; margin-top:10px; margin-right:10px;}*/
.red-color {
	color:#810000;
}
.add-size {
	font-size:30px;
	font-weight:bold;
	background:#fff;
}
.footer-content{ margin:0px!important; padding:0px!important;width:100%;
	background: #840201; /* Old browsers */
	background: -moz-linear-gradient(top, #840201 0%, #620303 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #840201), color-stop(100%, #620303)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #840201 0%, #620303 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #840201 0%, #620303 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #840201 0%, #620303 100%); /* IE10+ */
	background: linear-gradient(to bottom, #840201 0%, #620303 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#840201', endColorstr='#620303', GradientType=0 ); /* IE6-9 */
line-height:14px; font-size:10px; margin-top:20px!important;}

.footer {
	float:left;
	z-index:100;
	line-height:14px;
	margin-top:20px;
	box-shadow: 5px 3px 10px #888888;
	padding:0;
	width:100%;
	color:#333;
}
.buynow-box{ background:#fff; padding-top:15px; padding-bottom:15px;border-radius: 5px;}
.promo-code{ font-size:16px; font-weight:bold;}

@media (max-width:320px) {
.icon1{background: url(../../img/chirstmas_images/icon.png) no-repeat center; width:58px; height:53px; position:absolute; top:-25px; left:110px!important;}

}


@media (max-width:360px) {
.icon1{background: url(../../img/chirstmas_images/icon.png) no-repeat center; width:58px; height:53px; position:absolute; top:-25px; left:130px!important;}

.heading {
	font-size:23px!important;
}

#li{
	min-height:165px!important;
}
.heading1 {
	font-size:23px!important;
}
.margintop35{ margin-top:10px!important}

.footer-content {margin-top:20px!important
}
.footer.scroll-to-fixed-fixed {
    color: #333;
}
.box { margin-top:20px!important; font-size:14px!important;}
.footer {
	box-shadow:5px 3px 10px #888888;
	position:relative;
	z-index:100;
	font-size:14px;
	margin-top:20px;
	color:#333;
}

}
@media (min-width:768px) and  (max-width:799px){
.icon1{background: url(../../img/chirstmas_images/icon.png) no-repeat center; width:58px; height:53px; position:absolute; top:-25px; left:320px!important;}

.heading {
	font-size:23px!important;
}

.heading1 {
	font-size:23px!important;
}
.margintop35{ margin-top:10px!important}

.footer.scroll-to-fixed-fixed {
    color: #333;
}
.footer-content {margin-top:20px!important
}
.footer {
	z-index:100;
	font-size:14px;
	line-height:14px;
	margin-top:20px;
	width:100%;
	color:#333;
}
.box { margin-top:20px!important;
}
}
@media (min-width:800px) and (max-width:979px){
.icon1{background: url(../../img/chirstmas_images/icon.png) no-repeat center; width:58px; height:53px; position:absolute; top:-25px; left:320px!important;}
.box{ width:100%!important; min-height:260px!important;}.box1{min-height:260px!important;}
#li{min-height:165px!important;}	
}
@media (min-width:980px) and (max-width:1279px) {
#li{min-height:165px!important;}
.box1{min-height:200px!important;	}
.icon1{background: url(../../img/chirstmas_images/icon.png) no-repeat center; width:58px; height:53px; position:absolute; top:-25px; left:320px!important;}

}
@media (max-width:1280px) {
.icon1{background: url(../../img/chirstmas_images/icon.png) no-repeat center; width:58px; height:53px; position:absolute; top:-25px; left:140px}
#li{min-height:165px!important;}
.box1{min-height:400px;}}