@charset "utf-8";
/* CSS Document */
body{ margin:0px auto; padding:0px; color:#333; font:14px 'Open Sans', sans-serif; line-height:25px; background: url(../img/diwali_images/bg.gif) no-repeat  top center #eeeeee; height:410px;}
a{color:#0091cb; text-decoration:none;}
.bg-f9f9f91{ background:#f9f9f9; width:100%; float:left;}
.bg-eeeeee1{ width:100%; float:left;}
.bg-fff{ background:#fff; width:100%; float:left;}
.left{ float:left}
.right{ float:right}

.margintb10{ margin:10px 0;}
.margintb15{ margin:15px 0;}
.margintop100{ margin:100px 0 0 0;}
.margin-left20{ margin-left:20px;}
.margin-left15{ margin-left:15px;}
.margin-left35{ margin-left:35px;}
.margin-top30{ margin-top:30px;}
.margin-top15{ margin-top:15px!important}
.margin-top10{ margin-top:10px!important}
.margin-top20{ margin-top:20px!important}
.margintop5{margin-top:5px;}
.marginright8{margin-right:8px;}

.paddingtb10{ padding:10px 0;}
.paddingtop30{ padding-top:30px;}
.paddingtb15{ padding:15px 0;}
.paddingtb25{ padding:25px 0;}
.paddingtb35{ padding:35px 0;}
.paddingtb65{ padding:65px 0;}


.container990{ width:990px; margin:0 auto;}
.header{width:990px;float:left;}
.middle{width:990px;float:left;}


.logo{ float:left; width:200px;}
.call-us{ float:right; width:500px; text-align:right; padding:6px 15px 0 0; line-height:19px; font-size:14px;}
.heading{ font:600 16px  'Open Sans', sans-serif;}
.heading-main{ font:400 30px  'Open Sans', sans-serif; color:#e03d06;}
.subheading-main{ font:400 20px  'Open Sans', sans-serif; color:#333;}
.subheading-main1{ font:400 18px  'Open Sans', sans-serif; color:#333;}
.resume-info{ float:left; width:560px; padding:15px 0 0 10px;}
.lucy-form{ float:left; width:369px; border-top:5px solid #e03d06; background:#fff; padding:12px 20px;}
.promo1	{    background: #e4e3e3 none repeat scroll 0 0;color: #222 !important; float: left;margin: 10px 0;padding: 7px 10px 10px;}
.promo	{   color: #333 !important;padding: 7px 10px 10px;}

.diwali-bg{ position:relative; left:34px;background:url(../img/diwali_images/diwali-bg.gif) #fff no-repeat top right;}
.end-timer{ width:215px; float:right;font:16px  'Open Sans', sans-serif; color:#333; text-align:right; margin-right:0px; margin-top:4px;}
.timer span{ float:left}
.red-990{ color:#593723!important;}

.input-field{ width:91%; padding:4%; margin:15px 0 0 0; color:#333; border:1px solid #e2e2e2;}
.button{background:#f75822;background: linear-gradient(to bottom, #f75822 1%, #e33000 51%, #f75822 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border:0px; font:400 16px 'Open Sans', sans-serif; width:100%; padding:15px 0; margin:15px 0 0 0; cursor:pointer;}
a.button{background:#f75822;background: linear-gradient(to bottom, #f75822 1%, #e33000 51%, #f75822 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); border:0px; font:400 16px 'Open Sans', sans-serif; width:65%; padding:15px 15px 15px 25px; margin:15px 0 0 0; cursor:pointer; color:#fff; display:block; text-align:center;}
.buynow-btn{background:#f75822;background: linear-gradient(to bottom, #f75822 1%, #e33000 51%, #f75822 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);  border:0px; font:400 16px 'Open Sans', sans-serif; width:20%; padding:15px 15px; margin:15px 0 0 0; cursor:pointer;}
a.buynow-btn{background:#f75822;background: linear-gradient(to bottom, #f75822 1%, #e33000 51%, #f75822 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);  border:0px; font:400 16px 'Open Sans', sans-serif;width:20%; padding:15px 15px;margin:5px 0 5px 0; cursor:pointer; color:#fff; display:block; }
.wid96{ width:96%; float:left;}
.bordr-top{ border-top:1px solid #e0e0e0;}
.bordr-right{ border-right:1px solid #e0e0e0;}
ul.resume{ list-style-type:none; line-height:40px; margin:15px 0 0 0; padding:0 0 0 18px;}
ul.resume li.role{ background:url(../../img/diwali_images/icon4.gif) no-repeat 0px 5px; padding:0 0 0 45px;}
ul.resume li.focus{ background:url(../../img/diwali_images/icon1.gif) no-repeat 0px 5px; padding:0 0 0 45px;}
ul.resume li.issue{ background:url(../../img/diwali_images/icon3.gif) no-repeat 0px 5px; padding:0 0 0 45px;}
ul.resume li.career{ background:url(../../img/diwali_images/icon2.gif) no-repeat 0px 5px; padding:0 0 0 45px;}

ul.resume li.bullets{ list-style-type:square!important; padding:0; line-height:22px!important;}
ul.resume li.nobullets{ list-style-type:none!important; padding:0; line-height:22px!important;}

.resume-icon{ width:220px; float:left; margin-top:25px;}
.resume-plans{ width:365px; float:left;margin-top:25px;}
.resume-headings{font:600 20px  'Open Sans', sans-serif; color:#0091cb;}
.promocode{font:600 23px  'Open Sans', sans-serif; color:#f75822;}
.promocode1{font:600 23px  'Open Sans', sans-serif; color:#990000;}
.resume-price{ border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6; font:600 20px  'Open Sans', sans-serif; padding:15px 0; margin:15px 0;}
.discount{font:600 22px  'Open Sans', sans-serif; color:#f75822;}
.services{ width:273px; float:left; }
.services-heading{ width:160px; float:left; margin-top:15px;font:600 18px  'Open Sans', sans-serif;}
ul.plans{ list-style-type:none; margin:0px; padding:0px;}
ul.plans li{ list-style-type:none; float:left; width:100%; margin-top:15px;}

.li-points{ width:300px; float:left;}
.testimonials{ width:700px; float:left;margin-top:65px; margin-left:30px;}
.footer{ padding:15px 0 25px 0; float:left; font-size:12px; }
.tnc{ float:left; font-size:14px; line-height:16px; padding-top:5px;padding-bottom:0px; font-weight:normal; width:100%}
.tnc-btm{ float:left; font-size:11px; line-height:16px; padding-top:5px;padding-bottom:15px; font-weight:normal; width:100%}